/* framwork ****************************************************/
*{
    margin: 0;
    padding: 0
}
body {
    background: url(../images/bg.jpg);
    font-family: 'Open Sans', sans-serif;
    transition: all 1s ease-in-out;
    position: relative;
    max-height: 100vh;
}

.container {
    width: 70%;
    margin: auto;
}

.bodyOver{
    background: rgba(2, 6, 7,.80);
    background-repeat: repeat;
    width: 100% ;
    min-height: 100vh;
}

/* start header */ 
.header {
    padding-top:200px;
}
.profile{
    overflow: hidden;
    color: white;
    background: rgba(2, 6, 7,.70);
    padding: 50px;
}
.profile .avatar{
    width: 30%;
    float: left;
    margin-left: 10%;
    /* margin-top: 50px;
    margin-right: 5%; */
    /* border: 1px solid transparent;
    border-radius: 50px; */
    /* background: rgba(2, 6, 7,.70); */
    /* color: white; */
    /* padding: 1%; */
    /* text-align: center; */
    height: 300px;
    /* border: 2.5px solid white; */
    border-radius: 50%;
}
.profile .info{
    width: 45%;
    float: left;
    margin-left: 10%;
    margin-top: 80px;
}

.profile .name{
    font-size: 22px;
    margin-bottom: 5px;
}
.profile .headline{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
.profile a{
    color: rgb(0, 93, 173);
    text-decoration: none;
}
.profile .sec{
    font-size: 15px;
    color: rgb(0, 93, 173);
}
